/* === BASE === */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #121212;
    color: #f0f0f0;
    line-height: 1.6;
    overflow-x: hidden;
}

/* === HERO / INTRO === */

body.light .hero {
    background: linear-gradient(to bottom right, #f2f2f2, #e0e0e0);
    color: #1a1a1a;
}

body.light .scroll-down {
    color: #1a1a1a;
    opacity: 0.6;
}


.hero {
    /* max-width: 1200px; */
    margin: 0 auto;
    padding: 60px 20px;
    background: linear-gradient(to right, #1f1f1f, #111);
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
    background: #0f0f0f;
    /* fondo oscuro */
    text-align: center;
    color: #f5f5f5;
    padding: 5rem 2rem;
}

.hero-container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1.2fr 0.8fr;
    align-items: center;
    gap: 3rem;
}

.hero-text h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.hero-text h1 span {
    color: #00ffcc;
    /* acento llamativo */
}

.hero-text h2 {
    font-size: 1.6rem;
    font-weight: 400;
    color: #aaa;
    margin-bottom: 1.5rem;
}

.hero-text p {
    font-size: 1.1rem;
    color: #ccc;
    margin-bottom: 2rem;
    line-height: 1.6;
}

.btn-hero {
    display: inline-block;
    text-align: center;
    background: linear-gradient(135deg, #00ffcc, #0066ff);
    color: #0f0f0f;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 0.9rem 2rem;
    border-radius: 8px;
    text-decoration: none;
    transition: transform 0.2s ease, opacity 0.2s ease;
}


.btn-hero:hover {
    background: #00ffcc33;
    color: #fff;
    transform: translateY(-2px);
}


.hero-image img {
    width: 100%;
    max-width: 320px;
    border-radius: 12px;
    border: 3px solid #00ffcc;
    box-shadow: 0 0 25px #00ffcc33;
}

/* Responsivo */
@media (max-width: 900px) {
    .hero-container {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .hero-image {
        margin-top: 2rem;
    }
}

/* === ANIMACIONES === */
@keyframes fadeInDown {
    0% {
        transform: translateY(-30px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes fadeInUp {
    0% {
        transform: translateY(30px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes fadeInBody {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

@keyframes fadeInUp {
    0% {
        transform: translateY(30px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

/* === HEADER === */
header {
    /* max-width: 1400px; */
    margin: 0 auto;
    padding: 60px 20px;
    background: linear-gradient(to right, #1f1f1f, #111);
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
    font-family: 'Inter', sans-serif;
    color: white;
    line-height: 1.7;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.header-container {
    /* max-width: 1200px; */
    margin: 0 auto;
    /* centra el contenedor */
    padding: 0 20px;
    /* da respiro en pantallas chicas */
    display: flex;
    justify-content: center;
    /* centra el nav */
}

.nav {
    display: flex;
    gap: 30px;
    /* espacio entre links */
}

.nav a {
    text-decoration: none;
    font-weight: 500;
    color: white;
    font-size: 2.1rem;
    transition: color 0.3s ease, transform 0.2s ease;
}

.nav a:hover {
    color: #00ffcc33;
    /* color al pasar el mouse */
    transform: scale(1.05);
}


/* === MAIN === */
main {
    padding: 2rem 1rem;
}

main h2 {
    margin-bottom: 1rem;
    color: #ffffff;
}

section {
    margin-bottom: 4rem;
}

ul {
    list-style: none;
    padding-left: 1rem;
}

ul li {
    margin-bottom: 1rem;
}


/* Sobre Mi */

/* Sección Sobre mí */
.about {

    background: #1a1a1a;
    border-radius: 12px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 20px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
    font-family: 'Inter', sans-serif;
    /* color: white; */
    line-height: 1.7;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


/* ====== Animaciones on scroll ====== */

/* Estado inicial oculto */
.fade-in, .slide-in {
  opacity: 0;
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

/* Cuando entran en pantalla */
.fade-in.show, .slide-in.show {
  opacity: 1;
  transform: translate(0, 0);
}

/* Fade-in desde abajo */
.fade-in {
  transform: translateY(30px);
}

/* Slide-in desde la izquierda */
.slide-in {
  transform: translateX(-40px);
}

/* Opcional: desde la derecha */
.slide-in-right {
  opacity: 0;
  transform: translateX(40px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.slide-in-right.show {
  opacity: 1;
  transform: translateX(0);
}


.about:hover {
    transform: translateY(-12px);
    box-shadow: 0 8px 25px rgba(0, 255, 204, 0.3);
}

.about h2 {
    font-size: 2.2rem;
    color: white;
    /* Azul profesional */
    margin-bottom: 25px;
    text-align: center;
}

.about p {
    font-size: 1.1rem;
    margin-bottom: 20px;
    color: white;
}

.about strong {
    color: #00ffcc33;
    font-weight: 700;
}



.about em {
    font-style: italic;
    color: #ff6f61;
    /* Color secundario para resaltar */
}

/* Responsive */
@media (max-width: 768px) {
    .about {
        padding: 40px 15px;
    }

    .about h2 {
        font-size: 1.8rem;
    }

    .about p {
        font-size: 1rem;
    }
}


/* certificados */

.certificados {
    background: #1a1a1a;
    border-radius: 12px;
    padding: 3rem 2rem;
    /* background: linear-gradient(to right, #1f1f1f, #111); */
    border-radius: 20px;
    margin: 3rem auto;
    max-width: 1200px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
    line-height: 1.7;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.certificados h2 {
    text-align: center;
    font-size: 2rem;
    color: white;
    margin-bottom: 1.5rem;
}

.certificados ul {
    list-style: none;
    padding: 0;
}

.certificados li {
    margin: 1rem 0;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
}

.certificados i {
    margin-right: 12px;
    color: white;
    font-size: 1.5rem;
}

.certificados a {
    color: white;
    text-decoration: none;
    position: relative;
    font-weight: 500;
    transition: color 0.3s ease;
}

.certificados a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0%;
    height: 2px;
    background: #00ffcc33;
    transition: width 0.3s ease;
}

.certificados a:hover {
    color: #00ffcc33
}

.certificados a:hover::after {
    width: 100%;
}

.certificados:hover {
    transform: translateY(-12px);
    box-shadow: 0 8px 25px rgba(0, 255, 204, 0.3);
}

/* Responsive */
@media (max-width: 600px) {
    .certificados {
        padding: 2rem 1rem;
    }

    .certificados li {
        font-size: 1rem;
    }
}

/* contacto */

.contacto {
    max-width: 800px;
    margin: 4rem auto;
    text-align: center;
    padding: 2rem;
    color: white;
}

.contacto h2 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    font-weight: 700;
    color: white;
}

.contacto p {
    font-size: 1.1rem;
    margin-bottom: 2rem;
    color: #555;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.form-row {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: left;
    color: white;
}

.form-group label {
    font-size: 0.9rem;
    margin-bottom: 0.3rem;
    color: white;
}

.form-group input,
.form-group textarea {
    border: none;
    border-bottom: 2px solid #ccc;
    padding: 0.5rem 0;
    font-size: 1rem;
    background: transparent;
    outline: none;
    transition: border-color 0.3s;
    color: white;
}

.form-group input:focus,
.form-group textarea:focus {
    border-bottom-color: #4b2deb;
}

textarea {
    min-height: 120px;
    resize: vertical;
    color: white;
}

.full-width {
    flex: 100%;
}

.btn-shoot {
    display: inline-block;
    text-align: center;
    background: linear-gradient(135deg, #00ffcc, #0066ff);
    color: #0f0f0f;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 0.9rem 2rem;
    border-radius: 8px;
    text-decoration: none;
    transition: transform 0.2s ease, opacity 0.2s ease;
}

.btn-shoot:hover {
    background: #00ffcc33;
    color: #fff;
    transform: translateY(-2px);
}




/* === FOOTER === */
footer {
    text-align: center;
    padding: 2rem 0;
    background-color: #1a1a1a;
    color: #aaa;
    margin-top: 3rem;
}

footer a {
    color: #aaa;
}

.footer-social {
    list-style: none;
    padding: 0;
    color: #aaa;
    text-decoration: none;
}

/* === SOCIAL LINKS === */
.social-links {
    display: flex;
    justify-content: center;
    /* Centra horizontal */
    align-items: center;
    /* Centra vertical si el contenedor tiene altura */
    gap: 20px;
    /* Espacio entre íconos */
    margin-top: 30px;
}

.social-links a {
    font-size: 28px;
    color: #ffffff;
    /* Negro o el color que quieras */
    transition: color 0.3s ease;
}

.social-links a:hover {
    color: #4CAF50;
    /* Verde FutPlay, podés cambiarlo */
}


/* === TOOLS: TEMA & IDIOMA === */
.tools {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.tools button,
.tools select {
    background: linear-gradient(135deg, #00ffcc, #0066ff);
    color: #0f0f0f;
    padding: 0.4rem 0.8rem;
    font-size: 0.9rem;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.tools button:hover,
.tools select:hover {
    background: #00ffcc33;
    color: #fff;
    transform: translateY(-2px);
}

/* === IMAGEN PERFIL === */
.profile-pic {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid white;
}

/* === PROYECTOS === */

.proyects{
        background: #1a1a1a;
    border-radius: 12px;
    padding: 3rem 2rem;
    /* background: linear-gradient(to right, #1f1f1f, #111); */
    border-radius: 20px;
    margin: 3rem auto;
    max-width: 1200px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
    line-height: 1.7;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.proyects:hover {
    transform: translateY(-12px);
    box-shadow: 0 8px 25px rgba(0, 255, 204, 0.3);
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 2rem;
    
}

.proyects h2 {
    text-align: center;
    font-size: 2rem;
    color: white;
    margin-bottom: 1.5rem;
}

.project-card {
    background: #1a1a1a;
    border-radius: 12px;
    padding: 1.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card a {
    text-decoration: none;
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 25px rgba(0, 255, 204, 0.3);
}

.project-img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    background-color: #000;
    /* o el color que quieras de fondo */
    border-radius: 10px;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.btn-project {
    display: inline-block;
    text-align: center;
    background: linear-gradient(135deg, #00ffcc, #0066ff);
    color: black;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 0.9rem 2rem;
    border-radius: 8px;
    text-decoration: none;
    transition: transform 0.2s ease, opacity 0.2s ease;
}

.btn-project:hover {
    background: #00ffcc33;
    color: #fff;
    transform: translateY(-2px);
}

/* Contenedor general de los botones flotantes */
.btn-float-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    /* separación entre botones */
    z-index: 9999;
}

/* Estilo general de los botones */
.btn-float {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 22px;
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

/* Hover efecto */
.btn-float:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.35);
}

/* Botón WhatsApp */
.btn-float.whatsapp {
    background-color: #25D366;
}

/* Botón flecha arriba */
.btn-float.up {
    background-color: #007bff;
    /* azul */
}

.btn-float.down {
    background-color: #ff5722;
    /* naranja */
    margin-top: auto;
    /* empuja hacia abajo */
}

/* === MODO CLARO === */
body.light {
    background-color: #fdfdfd;
    color: #1a1a1a;
}

body.light .container {
    background-color: #ffffff;
    border: 1px solid #ddd;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
    color: #1a1a1a;
}

body.light header {
    background: linear-gradient(to right, #ffffff, #e0e0e0);
    color: #2c3e50;
}

body.light .nav {
    background-color: #eaeaea;
}

body.light .nav a {
    color: #1a1a1a;
}

body.light main h2 {
    color: white;
}

body.light .hero-text h1 span {
    color: black;
    /* acento llamativo */
}


body.light .project-card {
    background-color: #ffffff;
    color: #1a1a1a;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}


body.light footer {
    background-color: #f0f0f0;
    color: black;
}

body.light footer p {
    background-color: #f0f0f0;
    color: black;
}

body.light .tools button,
body.light .tools select {
    background: linear-gradient(135deg, white, black);
    color: white;
}


body.light .hero {
    background: linear-gradient(to bottom right, #f2f2f2, #e0e0e0);
    color: #1a1a1a;
}


body.light .hero-text h2,
body.light .hero-text p {
    color: #1a1a1a;
}

body.light .hero-button {
    background-color: #1a1a1a;
    color: #ffffff;
}


body.light .about {
    background-color: white;
    border: 3px solid #c0c3c2;
}

body.light .about p {
    color: black;
}

body.light .about h2 {
    color: black;
}

body.light .certificados {
    background-color: #ffffff;
    color: black;
    border: 3px solid #c0c3c2;
}

body.light .certificados h2,
body.light .certificados ul,
body.light .certificados ul li i,
body.light .certificados ul li a {
    color: black;
}

body.light .social-links a i {
    color: #0f0f0f;
}


body.light .btn-hero {
    display: inline-block;
    text-align: center;
    background: linear-gradient(135deg, white, black);
    color: #ffffff;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 0.9rem 2rem;
    border-radius: 8px;
    text-decoration: none;
    transition: transform 0.2s ease, opacity 0.2s ease;
}

body.light .btn-shoot {
    display: inline-block;
    text-align: center;
    background: linear-gradient(135deg, white, black);
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 0.9rem 2rem;
    border-radius: 8px;
    text-decoration: none;
    transition: transform 0.2s ease, opacity 0.2s ease;
}

body.light .btn-project,
body.light .btn-project a {
    display: inline-block;
    text-align: center;
    background: linear-gradient(135deg, white, black);
    color: #ffffff;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 0.9rem 2rem;
    border-radius: 8px;
    text-decoration: none;
    transition: transform 0.2s ease, opacity 0.2s ease;
}

body.light .form-group input,
body.light .form-group textarea {
    border: none;
    border-bottom: 2px solid #ccc;
    padding: 0.5rem 0;
    font-size: 1rem;
    background: transparent;
    outline: none;
    transition: border-color 0.3s;
    color: black;
}

body.light .form-group label {
    color: black;
}

body.light .contacto h2 {
    color: black;
}

body.light .proyects {
    background-color: #ffffff;
    color: black;
    border: 3px solid #c0c3c2;
}

/* === RESPONSIVE === */
@media (max-width: 768px) {
    .header-content {
        flex-direction: column;
        text-align: center;
    }

    .profile-pic {
        width: 100px;
        height: 100px;
    }

    .social-links {
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .nav {
        flex-direction: column;
        align-items: center;
    }

    .tools {
        justify-content: center;
        flex-direction: column;
        margin-top: 1.5rem;
    }
}